<ng-container *ngIf="task.status === 'incomplete'">
  <input
    id="task-checkbox-{{ task.id }}"
    type="checkbox"
    class="task-checkbox"
    (click)="markComplete()">
  <label for="task-checkbox-{{ task.id }}" class="task-checkbox-label">
    {{ task.description }}
  </label>
</ng-container>
