<mat-tab-group #matTabGroup (selectedTabChange)="setForms($event)" animationDuration="0ms">
  <mat-tab class="mat-tab-reactive" label="Reactive Forms"></mat-tab>
  <mat-tab class="mat-tab-template" label="Template-Driven Forms"></mat-tab>
</mat-tab-group>
<app-person-select></app-person-select>
<button mat-stroked-button color="primary" (click)="showModal()">Add New Task</button>
<h4 class="mt-3">Incomplete Tasks:</h4>
<div class="no-tasks" *ngIf="(taskService.tasks$ | async)?.length === 0">No Tasks to Display</div>
<ul class="task-list">
  <ng-container *ngFor="let task of (taskService.tasks$ | async)">
    <li class="list-item" *ngIf="task.status === 'incomplete'" #taskListItem>
      <app-task [task]="task"></app-task>
    </li>
  </ng-container>
</ul>
