<div class="task-entry-form">
  <form #taskForm="ngForm">
    <h5>New Task Form</h5>
    <mat-form-field class="mat-form-field text-entry-field" appearance="outline">
      <mat-label for="description"><strong>Description:</strong></mat-label><br />
      <input class="mat-input task-description" matInput type="text" placeholder="description..." [(ngModel)]="newTask.description" #description="ngModel" name="description" pattern="^([A-Z])\w+:\s.+" required />
      <ng-container *ngIf="description.errors && (description.touched || description.dirty)">
        <mat-error *ngIf="description.errors['pattern']" class="error-msg"><br />Pattern does not match</mat-error>
        <mat-error *ngIf="description.errors['required']" class="error-msg"><br />Field is required</mat-error>
      </ng-container>
    </mat-form-field><br />
    <mat-form-field appearance="outline">
      <mat-label for="status"><strong>Status:</strong></mat-label><br />
      <mat-select class="mat-input task-status" [(ngModel)]="newTask.status" #status="ngModel" name="status" required>
        <mat-option class="option-one" value="incomplete">Incomplete</mat-option>
        <mat-option class="option-two" value="complete">Complete</mat-option>
      </mat-select>
      <ng-container *ngIf="status.errors && status.touched">
        <mat-error *ngIf="status.errors['required']" class="error-msg"><br />Field is required</mat-error>
      </ng-container>
    </mat-form-field><br />
    <button mat-stroked-button color="warn" class="cancel-button" (click)="closeDialog()">Cancel</button>
    <button mat-stroked-button color="primary" class="submit-button" (click)="submitTask()" [disabled]="!taskForm.valid">Add Task</button>
  </form>
</div>

