<div class="row">
  <div class="col-12">
    <mat-form-field appearance="outline">
      <mat-label>Choose a Person</mat-label>
      <mat-select [value]="personService.selectedPerson$ | async" class="person-select" (valueChange)="changeCurrentPerson($event)">
        <ng-container *ngFor="let person of personService.people$ | async">
          <mat-option class="person-option" [value]="person">{{ person.firstName + ' ' + person.lastName }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>

