.error-msg {
  color: red;
}

.mat-form-field {
  width: max-content;
}

.mat-input {
  max-height: 1rem;
}

.text-entry-field {
  min-width: 20%;
}

.cancel-button {
  margin-right: 10px;
}

.task-entry-form {
  border: 2px black;
}
