<div class="task-entry-form">
  <form #taskForm="ngForm" [formGroup]="form">
    <h5>New Task Form</h5>
    <mat-form-field class="mat-form-field text-entry-field" appearance="outline">
      <mat-label for="description"><strong>Description:</strong></mat-label><br />
      <input class="mat-input task-description" matInput type="text" formControlName="description" placeholder="description..." name="task-description" />
      <ng-container *ngIf="form?.controls?.description?.errors && (form?.controls?.description?.touched || form?.controls?.description?.dirty)">
        <mat-error *ngIf="form?.controls?.description?.errors['pattern']" class="error-msg"><br />Pattern does not match</mat-error>
        <mat-error *ngIf="form?.controls?.description?.errors['required']" class="error-msg"><br />Field is required</mat-error>
      </ng-container>
    </mat-form-field><br />
    <mat-form-field appearance="outline">
      <mat-label for="status"><strong>Status:</strong></mat-label><br />
      <mat-select class="mat-input task-status" formControlName="status" name="status">
        <mat-option class="option-one" value="incomplete">Incomplete</mat-option>
        <mat-option class="option-two" value="complete">Complete</mat-option>
      </mat-select>
      <ng-container *ngIf="form?.controls?.status?.errors && (form?.controls?.status?.touched || form?.controls?.status?.dirty)">
        <mat-error *ngIf="form?.controls?.status?.errors['required']" class="error-msg"><br />Field is required</mat-error>
      </ng-container>
    </mat-form-field><br />
    <button mat-stroked-button color="warn" class="cancel-button" (click)="closeDialog()">Cancel</button>
    <button mat-stroked-button color="primary" class="submit-button" (click)="submitTask(); taskForm.reset()" [disabled]="!taskForm.valid">Add Task</button>
  </form>
</div>
